//$redcolor3:#BF0404 ;
$redcolor: #d91424; //bob poster
$redcolor2: #850000;

//$greencolor3:#09A603;
$greencolor: #88a61c; //bob poster
$greencolor2: #003924;

//$colorwhite:#F2EBEB;
$colorwhite: #f2f2f2; //bob poster
$colorwhite2: #f5f2e4;

//$blackcolor: #141414;
$blackcolor: #0d0d0d; //bob poster
$blackcolor2: #0a0a0a;

$headercolor: #65686b;

//$yellowcolor:#F2E205;
$yellowcolor: #f2ae2e; //bob poster
$yellowcolor2: #ccb33b;

$FontStyle: "PT Sans", arial, sans-serif, verdana, tahoma;
$FontStyleHeader: "Cabin", arial, sans-serif, verdana, tahoma;
